-luci-app-ledtrig
-luci-app-cpufreq
htop
luci-app-v2raya
luci-app-argon-config
luci-app-firewall
luci-app-openclash
luci-app-passwall
luci-app-smartdns
luci-base
luci-i18n-v2raya-zh-cn
luci-i18n-argon-config-zh-cn
luci-i18n-base-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-passwall-zh-cn
luci-i18n-smartdns-zh-cn
luci-theme-argon
luci-theme-material
iperf
libcap
libcap-bin
rsync
rsyncd
bind-dig
bind-host
openssh-sftp-client
openssh-sftp-server
bsdtar
bzip2
gzip
unzip
lsblk
lscpu
nano
vim-full
zsh
screen
tree
whereis
wget-ssl
git