-luci-app-cpufreq
luci-app-argon-config
luci-app-firewall
luci-app-openclash
luci-app-passwall2
luci-app-smartdns
luci-app-opkg
luci-app-aria2
luci-app-adguardhome
luci-app-apinger
luci-app-nextdns
luci-app-store
luci-base
luci-i18n-opkg-zh-cn
luci-i18n-argon-config-zh-cn
luci-i18n-base-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-passwall2-zh-cn
luci-i18n-smartdns-zh-cn
luci-i18n-aria2-zh-cn
luci-i18n-adguardhome-zh-cn
luci-i18n-apinger-zh-cn
luci-i18n-nextdns-zh-cn
luci-i18n-store-zh-cn
luci-theme-argon
luci-theme-material
nano
vim-full
vim-runtime
zsh
wget-ssl
git

iptables
dnsmasq-full
coreutils
coreutils-nohup
bash
curl
jsonfilter
ca-certificates
ipset
ip-full
iptables-mod-tproxy
kmod-tun
luci-compat