-luci-app-cpufreq
luci-app-argon-config
luci-app-firewall
luci-app-openclash
luci-app-passwall
luci-app-smartdns
luci-app-opkg
luci-app-aria2
luci-app-adblock
luci-app-store
luci-lib-taskd
luci-lib-xterm

luci-base
luci-i18n-opkg-zh-cn
luci-i18n-argon-config-zh-cn
luci-i18n-base-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-passwall-zh-cn
luci-i18n-smartdns-zh-cn
luci-i18n-aria2-zh-cn
luci-i18n-adblock-zh-cn
luci-theme-argon
luci-theme-material
nano
vim-full
vim-runtime
zsh
wget-ssl
git
taskd
netifd
base-files

iptables
dnsmasq-full
coreutils
coreutils-nohup
bash
curl
jsonfilter
ca-certificates
ipset
ip-full
iptables-mod-tproxy
kmod-tun
luci-compat
kmod-ipt-extra